# IDE files
.idea
*.iml
.vscode

# Scala related files
scala/target
scala/project/target/
scala/project/project/target/
scala/target/stream/*
scala/src/test/scala/Playground.scala
.bsp

# ignore build files
**/build
**/dist

# Mac files
.DS_Store